<?xml version="1.0" encoding="UTF-8"?>


<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Apex2022</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyFirstServlet</display-name>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>apex.servlet.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/MyFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SquareServlet</display-name>
    <servlet-name>SquareServlet</servlet-name>
    <servlet-class>apex.servlet.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquareServlet</servlet-name>
    <url-pattern>/SquareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFormServlet</display-name>
    <servlet-name>UserFormServlet</servlet-name>
    <servlet-class>apex.servlet.UserFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFormServlet</servlet-name>
    <url-pattern>/UserFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>apex.servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlett</display-name>
    <servlet-name>DemoServlett</servlet-name>
    <servlet-class>apex.servlet.DemoServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlett</servlet-name>
    <url-pattern>/DemoServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet1</display-name>
    <servlet-name>DemoServlet1</servlet-name>
    <servlet-class>apex.servlet.DemoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet1</servlet-name>
    <url-pattern>/DemoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>apex.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>apex.servlet.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRedirectServlet</display-name>
    <servlet-name>SendRedirectServlet</servlet-name>
    <servlet-class>apex.servlet.SendRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRedirectServlet</servlet-name>
    <url-pattern>/SendRedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>apex.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFormServletWithValidation</display-name>
    <servlet-name>UserFormServletWithValidation</servlet-name>
    <servlet-class>apex.servlet.UserFormServletWithValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFormServletWithValidation</servlet-name>
    <url-pattern>/UserFormServletWithValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallValidationServlet</display-name>
    <servlet-name>CallValidationServlet</servlet-name>
    <servlet-class>apex.servlet.CallValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallValidationServlet</servlet-name>
    <url-pattern>/CallValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidationServlet</display-name>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>apex.servlet.ValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/ValidationServlet</url-pattern>
  </servlet-mapping>
</web-app>

</element>


